.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.main {
    flex: 1;
    padding: 16px;
}

.title {
    padding: 16px 0;
    margin: 0;
}

.todo_input {
    width: 250px;
    padding: 6px 8px;
    margin-right: 8px;
    font-size: 18px;
    border: 1px solid #aaa;
    border-radius: 6px;
}
.btn {
    position: relative;
    padding: 6px 8px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #03a9f4;
    border: 1px solid #eee;
    border-radius: 6px;
}
.btn:active {
    top: 1px;
}

.box_list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 20px;
}
.todo_list {
    display: flex;
    gap: 8px;
    align-items: center;
}
.todo {
    width: 250px;
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.btns {
    display: flex;
    gap: 4px;
}
.green {
    background-color: #00c853;
}
.pink {
    background-color: #ff4081;
}
.footer {
    width: 100%;
    height: 30px;
    padding: 16px 0;
    text-align: center;
    box-shadow: 0 1px 1px #ddd;
}
